body {
    background: #d8e0e6;
  }
  
  .alert-light {
    border-color: #bfbfbf;
  }
  
.form-register.auth input, .form-register.auth textarea, .contacti-style.auth textarea {
    display: block;
    width: 96%;
    margin-top: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2%;
    }
  
.form-register .helptext {color: #b7b7b7}
  
.form-register ul.errorlist {
    color: #ca5858;
    font-weight: bold;
}
  


 