{% extends 'blog/base.html' %}

{% block content %}
  <h3>{{title}}</h3>
  <form action="{% url 'contacti' %}"  method="post" >
    {% csrf_token %}
    {{ UserAppealForm.as_p }}
    <hr>
    <button type="submit">Отправить</button>
  </form>
{% endblock %}

{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>
<img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail">
<p>Для многих Python - это язык для написания веб проектов, машинного обучения или для анализа данных. На самом деле он более функционален и в этой статье мы вам это докажем.</p>

<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>

<img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-4">
<p>Уже не первый год слышно много положительных отзывов про движок Godot. Пришло время узнать больше об этом движке и выяснить почему он столь популярен.</p>

<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock %}