{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  {% for post in news %}
    <div class="alert alert-light">
      <h1>{{ post.title }}</h1>
      <p>{{ post.text|striptags|truncatechars:200 }}</p>
      <div class="row">
        <div>
          <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_images">
        </div>
        <div class="mt-2">
          <span class="text-muted">Публикация: {{ post.date|date:"d E Y в H:i" }}</span>
            <p><b>Автор:</b> <a href="{% url 'user-news' post.avtor %}">{{ post.avtor }}</a></p>
        </div>
      </div>
      <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning mt-3">Читать далее</a>
    </div>
  {% endfor %}

  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'home' %}" class="btn btn-outline-danger">Начало</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <button class="btn btn-danger">{{ num }}</button>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-danger"> {{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Последняя</a>
    {% endif %}
  {% endif %}
{% endblock %}


{% block aside_block %}
<h4 class="mt-2">(заглушка)</h4>
{% endblock %}
