{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
    <div class="alert alert-light">
      <h1>{{ object.title }}</h1>
      <p>{{ object.text|safe }}</p>
      <div class="row">
        <div>
          <img src="{{ object.avtor.profile.img.url }}" alt="{{ object.avtor }}" class="user_images">
        </div>
        <div class="mt-2">
          <span class="text-muted">Публикация: {{ object.date|date:"d E Y в H:i" }}</span>
          <p><b>Автор:</b> <a href="{% url 'user-news' object.avtor %}">{{ object.avtor }}</a></p>
        </div>
      </div>
      {% if object.avtor == user %}
        <hr>
        <a href="{% url 'news-update' object.id %}" class="btn btn-info">Обновить статью</a>
        <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Удалить статью</a>
      {% endif %}
    </div>
{% endblock %}


