{% extends 'blog/base.html' %}

{% block title %}
  Кабинет пользователя
{% endblock %}

{% block content %}
  <h1>Кабинет пользователя</h1>
  <div class="media text-muted pt-3">
    <img class="bd-placeholder-img mr-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
      {% if user.email %}
        <b>Email:</b> {{ user.email }}
      {% endif %}
    </p>
  </div>
  
  <form method="post" enctype="multipart/form-data" class="form-register mt-4">
    <h2>Изменить данные про пользователя</h2>
    {% csrf_token %}
    {{ updateUserForm.as_p }}
    <p>Изображение профиля: </p>
    <p>На данный момент: <img src="{{ user.profile.img }}"></p>
    {{ profileForm.as_p }}
    <button class="btn btn-outline-warning " type="submit">Обновить Данные</button>
  </form>
{% endblock %}

